<h3>GitHub <small>{{githubstatus}}</small></h3>
<ul class="list-group items tools">
  {{#each github as |tool|}}
    <li {{bind-attr class=":list-group-item :row :item :tool tool.isExpanded:expanded:collapsed"}} {{action 'toggle' tool}}>
      <div class="" style="position:relative">
        <div {{bind-attr class=":collapsed-item tool.isExpanded:collapsed:expanded"}}>
          <div class="tool-icon-title col-md-3 col-xs-12">
            <div><img src="{{tool.icon}}" height="28" class="item-icon"/></div>
            <div class="ellipsis tool-title">{{tool.title}}</div>
          </div>
          <div class="col-md-9 hidden-xs">
            <div class="ellipsis tool-description-shortened">{{marked-summary tool.description}}</div>
          </div>
        </div>
        <div {{bind-attr class=":expanded-item tool.isExpanded:expanded:collapsed"}}>
          <div class="tool-icon-title col-md-6 col-xs-12">
            <div>
              <span class="glyphicon glyphicon-wrench item-icon tool-icon" aria-hidden="true"/>
            </div>
            <div class="ellipsis tool-title">{{#link-to 'tool' tool}}{{tool.title}}{{/link-to}}</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="ellipsis tool-sub-title">{{tool.subTitle}}</div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="item-description tool-description">{{marked-full tool.description}}</div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
