<p>Can't find the task you are looking for? Contribute by {{#link-to 'task' 'new'}}adding it{{/link-to}} to the directory.</p>

<ul class="list-group items tasks">
  {{#each model as |task|}}
    <li {{bind-attr class=":list-group-item :row :item :task task.isExpanded:expanded:collapsed"}} {{action 'toggle' task}}>
      <div class="" style="position:relative">
        <div {{bind-attr class=":collapsed-item task.isExpanded:collapsed:expanded"}}>
          <div class="task-icon-title col-md-3 col-xs-12">
            <div><span class="glyphicon glyphicon-ok-sign item-icon task-icon" aria-hidden="true"></span></div>
            <div class="ellipsis task-title">{{#link-to 'task' task}}{{task.title}}{{/link-to}}</div>
          </div>
          <div class="col-md-9 hidden-xs">
            <div class="ellipsis task-description-shortened">{{task.description}}</div>
          </div>
        </div>
        <div {{bind-attr class=":expanded-item task.isExpanded:expanded:collapsed"}}>
          <div class="task-icon-title col-md-6 col-xs-12">
            <div>
              <span class="glyphicon glyphicon-ok-sign item-icon task-icon" aria-hidden="true"/>
            </div>
            <div class="ellipsis task-title">{{#link-to 'task' task}}{{task.title}}{{/link-to}}</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="ellipsis task-sub-title">{{task.subTitle}}</div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="item-description task-description">{{task.description}}</div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
