<h1><strong>{{model.title}}</strong> ({{model.subTitle}})</h1>
<p>{{model.description}}</p>

<table class="table">
  <tbody>
    <tr>
      <th>title</th>
      <td>{{model.title}}</td>
    </tr>
    <tr>
      <th>subTitle</th>
      <td>{{model.subTitle}}</td>
    </tr>
    <tr>
      <th>created</th>
      <td>{{model.created}}</td>
    </tr>
    <tr>
      <th>updated</th>
      <td>{{model.updated}}</td>
    </tr>
  </tbody>
</table>
