<div class="media">
  {{#if isEditingTitle}}
    <h1 class="media-heading pull-left tool-title">
      {{input id="inputTitle" type="text" value=model.title enter="save" focus-out="save" autofocus="autofocus"}}
    </h1>
  {{else}}
    <h1 class="media-heading pull-left tool-title" {{action "edit" "Title" on="click"}}>
      {{model.title}}
    </h1>
  {{/if}}
  {{#if isEditingSubtitle}}
    <h1 class="media-heading pull-left tool-title"><small>
      {{input id="inputSubtitle" type="text" value=model.subTitle enter="save" focus-out="save" autofocus="autofocus"}}
    </small></h1>
  {{else}}
    <h1 class="media-heading pull-left tool-subTitle" {{action "edit" "Subtitle" on="click"}}><small>
      ({{model.subTitle}})
    </small></h1>
  {{/if}}
</div>

{{#if isEditingDescription}}
  {{input id="inputDescription" type="text" value=model.description enter="save" focus-out="save" autofocus="autofocus"}}
{{else}}
    <p class="tool-description" {{action "edit" "Description" on="click"}}>
      {{model.description}}
    </p>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Features</h3>
  </div>
  <div class="panel-body">
    <ul>
    {{#each model.implements as |implements|}}
      {{#each implements.feature.isCapableOf as |isCapableOf|}}
        <li>{{#link-to 'task' isCapableOf.task classNames='task-title'}}{{isCapableOf.task.title}}{{/link-to}}</li>
      {{/each}}
    {{/each}}
    </ul>
  </div>
</div>

<div>
  Created: {{model.created}}. Last updated: {{model.updated}}
</div>
<div>
  <button class="btn btn-danger" {{action "delete"}}>
    I made a mistake, please remove this entry from the directory
  </button>
</div>
<p/>
