<p>Can't find the tool you are looking for? Contribute by {{#link-to 'tool' 'new'}}adding it{{/link-to}} to the directory.</p>

<ul class="list-group items tools">
  {{#each filteredTools as |tool|}}
    <li {{bind-attr class=":list-group-item :row :item :tool tool.isExpanded:expanded:collapsed"}} {{action 'toggle' tool}}>
      <div class="" style="position:relative">
        <div {{bind-attr class=":collapsed-item tool.isExpanded:collapsed:expanded"}}>
          <div class="tool-icon-title col-md-3 col-xs-12">
            <div><span class="glyphicon glyphicon-wrench item-icon tool-icon" aria-hidden="true"></span></div>
            <div class="ellipsis tool-title">{{#link-to 'tool' tool}}{{tool.title}}{{/link-to}}</div>
          </div>
          <div class="col-md-9 hidden-xs">
            <div class="ellipsis tool-description-shortened">{{tool.description}}</div>
          </div>
        </div>
        <div {{bind-attr class=":expanded-item tool.isExpanded:expanded:collapsed"}}>
          <div class="tool-icon-title col-md-6 col-xs-12">
            <div>
              <span class="glyphicon glyphicon-wrench item-icon tool-icon" aria-hidden="true"/>
            </div>
            <div class="ellipsis tool-title">{{#link-to 'tool' tool}}{{tool.title}}{{/link-to}}</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="ellipsis tool-sub-title">{{tool.subTitle}}</div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="item-description tool-description">{{tool.description}}</div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="tool-features"><i>
              Features:
              <ul class="list-unstyled comma">
                {{~#each tool.features as |feature|~}}
                  <li>
                    {{~#link-to 'capability' feature.capability classNames='capability-title'}}
                      {{~feature.capability.title}}
                    {{/link-to}}
                    {{~#if feature.supportsSomething}}
                      (<ul class="list-unstyled comma">
                        {{~#each feature.supports as |concept|~}}
                          <li class="supports-title">{{concept.title}}</li>
                        {{~/each~}}
                      </ul>)
                    {{~/if~}}
                  </li>
                {{~/each}}
              </ul>
            </i></div>     
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
