<div class="modal fade" id="addFeatureModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Feature</h4>
      </div>
      <ul class="list-group">
        {{#each capabilities as |capability|}}
          <li class="list-group-item add-feature" {{action 'selectCapability' capability}}>
            {{compare-icon capability.id currentFeature.capability.id}}
            {{capability.title}}
          </li>
        {{/each}}
      </ul>
      <div class="modal-header">
        <h4 class="modal-title">Supports</h4>
      </div>
      <ul class="list-group">
        {{#each concepts as |concept|}}
          <li class="list-group-item add-supports" {{action 'toggleSupports' concept}}>
            {{compare-icon concept.id currentFeature.supports 'concept'}}
            {{concept.title}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading media">
        {{#if isEditingTitle}}
          <h1 class="media-heading panel-title pull-left tool-title">
            {{input id="inputTitle" type="text" value=model.title enter="save" focus-out="save" autofocus="autofocus"}}
          </h1>
        {{else}}
          <h1 class="media-heading panel-title pull-left tool-title" {{action "edit" "Title" on="click"}}>
            {{model.title}}
          </h1>
        {{/if}}
        {{#if isEditingSubtitle}}
          <h1 class="media-heading panel-title pull-left tool-subTitle">
            {{input id="inputSubtitle" type="text" value=model.subTitle enter="save" focus-out="save" autofocus="autofocus"}}
          </h1>
        {{else}}
          <h1 class="media-heading panel-title pull-left tool-subTitle" {{action "edit" "Subtitle" on="click"}}>
            ({{model.subTitle}})
          </h1>
        {{/if}}
        <a class="btn pull-right nopadding" {{action "delete"}}>
          <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
        </a>
  </div>
  <div class="panel-body">
    {{#if isEditingDescription}}
      {{input id="inputDescription" type="text" value=model.description enter="save" focus-out="save" autofocus="autofocus"}}
    {{else}}
        <p class="tool-description" {{action "edit" "Description" on="click"}}>
          {{model.description}}
        </p>
    {{/if}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Features
      <a class="btn pull-right add-feature" {{action 'addFeature'}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h3>
  </div>
  <ul class="list-group">
    {{#each model.features as |feature|}}
      <li class="list-group-item">
        {{#link-to 'capability' feature.capability classNames='capability-title'}}
          {{feature.capability.title}}
        {{/link-to}}
        {{#if feature.supportsSomething ~}}
          (<ul class="list-unstyled comma">
            {{~#each feature.supports as |supports| ~}}
              <li class="supports-title">{{supports.concept.title}}</li>
            {{~/each~}}
          </ul>)
        {{/if}}
        <a class="btn pull-right" {{action 'configureFeature' feature}}>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<p>
  Created: {{model.created}}<br/>
  Last updated: {{model.updated}}
</p>
